.abonements {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(72, 44, 45, 0.5),rgba(187, 172, 173, 0)),url('/ground.jpg') no-repeat;
  background-size: cover;
}

.abonements-container {
  position: absolute;
  margin: 200px auto;
  padding: 0 120px;
  width: 100%;
}

.next-btn, .back-btn {
  position: absolute;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.next-btn {
  right: 10%;
  transform: rotate(180deg);
}

.back-btn {
  left: 10%;
  top: 53%;
}

.abonements-container h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.slider {
  overflow: hidden;
  width: 80%;
  margin-left: 10%;
}

.slider ul {
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  overflow-x: visible;
}

.slider li {
  flex: 1;
  min-width: 33%;
  box-sizing: border-box;
  padding: 10px;
}

@media (max-width: 840px) {
  .abonements-container {
    padding: 0 5px;
    margin-top: 20%;
  }
  .next-btn, .back-btn {
    width: 20px;
  }
  .next-btn {
    right: 5%;
  }
  .back-btn {
    left: 7%;
  }
  .slider{
    width: 80%;
  }
  .slider li {
    padding-left: 30px;
    min-width: 50%;
  }
}

@media (max-width: 670px) {
  .abonements-container {
    margin-top: 25%;
  }
  .next-btn, .back-btn {
    width: 20px;
  }
  .next-btn {
    right: 20px;
    top: 51%;
  }
  .back-btn {
    left: 30px;
  }
  .slider {
    width: 80%;
    margin-left: 10%;
  }  
  .slider li {
    padding-left: 20px;
    min-width: 50%;
  }
}

@media (max-width: 440px) {
  .abonements-container {
    padding: 0 40px;
    width: 100%;
    margin-left: 0px;
    margin-top: 40%;
  }
  .abonements-container h2 {
    font-size: 14px;
  }
  .next-btn, .back-btn {
    width: 20px;
  }
  .next-btn {
    right: 15px;
    top: 51%;
  }
  .back-btn {
    left: 10px;
  }
  .slider li {
    min-width: 85%;
    margin-left: 5%;
  }
}
