.about{
    width: 100%;
    min-height: 100vh;
    background: url('/spa.jpeg') no-repeat center center;
    background-size: cover;
}

.about-left{
    width: 100%;
    position: absolute;
    margin-top: 11%;
}

.about-left h1{
    margin-left: 10%;
    width: 400px;
    font-size: 32px;
    color: #fff;
}

.about-left hr{
    position: absolute;
    width: 33%;
    border: 1px solid #ce9309;
    margin: 10px auto 10px;
}

.about-left p{
    color: #ffffffa5;
    margin-left: 10%;
    width: 300px;
    margin-top: 15px;
}

.about-right{
    position: absolute;
    color: #fff;
    margin-top: 15%;
    margin-left: 78%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-right p{
    font-size: 18px;
}

@media (max-width: 840px) {
    .about-left {
        margin-top: 20%;
    }
    .about-left h1 {
        font-size: 20px;
        width: 200px;
    }
    .about-left hr {
        width: 45%;
    }
    .about-right {
        margin-top: 17%;
        margin-left: 68%;
    }
    .about-right p{
        font-size: 14px;
    }
}

@media (max-width: 670px) {
    .about-left {
        margin-top: 25%;
        max-width: 400px;
    }
    .about-left h1 {
        font-size: 18px;
        margin-left: 8%;
    }
    .about-left p {
        margin-left: 8%;
        width: 230px;
    }
    .about-left hr {
        width: 65%;
    }
    .about-right {
        margin-top: 22%;
        margin-left: 65%;
    }
    .about-right p{
        font-size: 12px;
    }
}
@media (max-width: 440px) {
    .about-left {
        margin-top: 40%;
    }
    .about-left hr {
        width: 45%;
    }
    .about-left h1 {
        font-size: 14px;
        width: 200px;
    }
    .about-left p {
        font-size: 12px;
        width: 150px;
    }
    .about-right {
        margin-top: 30%;
    }
    .about-right p {
        font-size: 10px;
    }
}
