.massage {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(72, 44, 45, 0.5),rgba(187, 172, 173, 0)),url('/ground.jpg') no-repeat;
    background-size: cover;
}

.massage-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.massage-description {
    position: absolute;
    margin-top: 15%;
    max-width: 800px;
    width: 100%;
}

.massage-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 25%;
    text-align: start;
}

.massage-text h2 {
    font-size: 28px;
    color: #ffffffe5;
    font-weight: 550;
}

.massage-text p {
    color: #ffffffa5;
    margin: 10px 0;
    width: 300px;
}

.massage-description hr {
    width: 70%;
    border: 1px solid #ce9309;
    margin: 10px 0;
}

@media (max-width: 840px) {
    .massage-description {
        margin-top: 23%;
    }
    .massage-text {
        margin-left: 18%;
    }    
    .massage-text h2 {
        font-size: 18px;
    }
    .massage-description hr {
        width: 54%;
        margin: 10px 0;
    }
}

@media (max-width: 670px) {
    .massage-description {
        margin-top: 20%;
    }
    .massage-text {
        margin-left: 15%;
    }    
    .massage-text h2 {
        font-size: 18px;
    }
    .massage-text p {
        font-size: 14px;
        width: 200px;
    }
    .massage-description hr {
        width: 50%;
    }
    .massage-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}
@media (max-width: 370px) {
    .massage-description {
        margin-top: 35%;
    }
    .massage-text {
        margin-left: 12%;
    }    
    .massage-text h2 {
        font-size: 14px;
    }
    .massage-text p {
        font-size: 12px;
    }
    .massage-description hr {
        width: 70%;
        margin: 0;
    }
    .massage-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}
