.massage {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(72, 44, 45, 0.5),rgba(187, 172, 173, 0)),url('/ground.jpg') no-repeat;
    background-size: cover;
}

.massage-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.massage-description {
    position: absolute;
    margin-top: 15%;
}

.massage-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 33%;
    text-align: start;
}

.massage-text h2 {
    font-size: 28px;
    color: #ffffffe5;
    font-weight: 550;
    text-align: start;
}

.massage-text p {
    color: #ffffffa5;
}

.massage-description hr {
    margin-top: 5%;
    width: 440px;
    border: 1px solid #ce9309;
}

@media (max-width: 840px) {
    .massage-description {
        margin-top: 23%;
    }
    .massage-text {
        margin-left: 22%;
    }    
    .massage-text h2 {
        font-size: 20px;
    }
    .massage-description hr {
        width: 320px;
    }
}

@media (max-width: 670px) {
    .massage-description {
        margin-top: 20%;
    }
    .massage-text {
        margin-left: 12%;
    }    
    .massage-text h2 {
        font-size: 18px;
    }
    .massage-text p {
        font-size: 14px;
    }
    .massage-description hr {
        width: 500px;
    }
    .massage-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}
@media (max-width: 350px) {
    .massage-description {
        margin-top: 60%;
    }
    .massage-text {
        margin-left: 12%;
    }    
    .massage-text h2 {
        font-size: 14px;
    }
    .massage-text p {
        font-size: 12px;
    }
    .massage-description hr {
        width: 300px;
    }
    .massage-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}
