.master-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.master-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.master-item-left {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    gap: 10px;
    width: 300px;
    margin-left: 10.5%;
}

.master-item-name {
    color: #ce9309;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    text-align: start;
    white-space: nowrap;
}

.master-item-image {
    width: 250px;
    height: 350px;
    margin-top: 50%;
    margin-right: 200px;
    padding: 0;
}

.master-item-desc {
    color: #fff;
    width: 100%;
    text-align: start;
}

@media (max-width: 840px) {
    .master-item-left {
        margin-top: 40.5%;
        width: 100%;
        align-items: start;
        margin-left: 8.5%;
    }
    .master-item-name {
        font-size: 20px;
    }
    .master-item-image {
        width: 220px;
        height: 300px;
        margin-top: 50%;
        margin-right: 70px;
        padding: 0;
    }
    .master-item-desc {
        font-size: 14px;
        width: 300px;
    }
}

@media (max-width: 670px) {
    .master-item {
        margin-left: 3%;
    }
    .master-item-left {
        align-items: start;
        margin-top: 52%;
    }
    .master-item-name {
        font-size: 18px;
    }
    .master-item-image {
        max-width: 150px;
        max-height: 200px;
        margin-top: 300px;
        margin-left: 25%;
    }
    .master-item-desc {
        font-size: 14px;
        width: 250px;
    }
}
