.masters{
    width: 100%;
    min-height: 100vh;
    background: url('/brown.jpg') no-repeat;
    background-size: cover;
}

.master-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.masters-description{
    position: absolute;
    margin-top: 15%;
}

.master-text{
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-left: 26%;
    text-align: start;
}

.master-text h2{
    font-size: 28px;
    color: #ffffffe5;
    font-weight: 550;
    text-align: start;
}

.master-text p{
    color: #ffffffa5;
}

.masters-description hr{
    margin-top: 5%;
    width: 600px;
    border: 1px solid #ce9309;
}

@media (max-width: 840px) {
    .masters-description {
        margin-top: 25%;
    }
    .master-text {
        margin-left: 17%;
    }    
    .master-text h2 {
        font-size: 20px;
    }
    .master-text p{
        width: 280px;
    }    
    .masters-description hr {
        width: 360px;
    }
}

@media (max-width: 670px) {
    .masters-description {
        margin-top: 28%;
    }
    .master-text {
        margin-left: 10%;
    }    
    .master-text h2 {
        font-size: 18px;
    }
    .master-text p {
        font-size: 14px;
    }
    .masters-description hr {
        width: 550px;
    }
    .master-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}
